*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    text-decoration: none;
    list-style: none;
    color: black;
}

body,html{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: rgb(223, 193, 195);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(250, 215, 221);
    width: 600px;
    border-radius: 18px;
    box-shadow: 0px 2px 40px 2px rgb(51, 51, 51);
    
}

.logo{
    width: 450px;
    height: 345px;
}


section{
    padding-bottom: 0%;
    border-radius: 10px;
}

ul{
    height: 225px;
}

ul li:hover{
    cursor: pointer;
    transition: 1s;
    transform: scale(1.0);
    background-color: aliceblue;
    box-shadow: 0px 1px 40px 1px rgba(51, 51, 51, 0.863);
}

li{
    display: flex;
    margin:11px;
    background-color: rgb(252, 122, 183);
    border: 3px solid rgb(8, 8, 8);
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.imgDonuts{
    width: 50px;
    border-radius: 50%;
    margin-right: 17px;
}

h2{
    display: flex;
    align-items: center;

}

.imgDonuts2{
    width: 125px;
    margin-left: 430px;
}